@model OrderStatusViewModel
@{
    var status = Context.Request.Query["status"];
    var all = "";
    var newOrder = "";
    var deliveredToRep = "";
    var delivered = "";
    var cannotDelivered = "";
    var postponed = "";
    var partialyDelivered = "";
    var cancelled = "";
    var refusedWithPaid = "";
    var refusedWithPartialyPaid = "";
    var refusedWithNoPaid = "";
    var waiting = "";
    
    switch (status)
    {
        case "جديد":
            newOrder = "bg-primary text-white";
            break;
        case "قيد الانتظار":
            waiting = "bg-primary text-white";
            break;
        case "تم التسليم للمندوب":
            deliveredToRep = "bg-primary text-white";
            break;
        case "تم التسليم":
            delivered = "bg-primary text-white";
            break;
        case "لا يمكن الوصول":
            cannotDelivered = "bg-primary text-white";
            break;
        case "تم التأجيل":
            postponed = "bg-primary text-white";
            break;
        case "تم التسليم جزئيا":
            partialyDelivered = "bg-primary text-white";
            break;
        case "تم الالغاء من قبل المستلم":
            cancelled = "bg-primary text-white";
            break;
        case "تم الرفض مع الدفع":
            refusedWithPaid = "bg-primary text-white";
            break;
        case "رفض مع سداد جزء":
            refusedWithPartialyPaid = "bg-primary text-white";
            break;
        case "رفض و لم يتم الدفع":
            refusedWithNoPaid = "bg-primary text-white";
            break;
        
        default :
            all = "bg-primary text-white";
            break;
    }
}

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        
        
        <div class="col-12">
            <ul class="list-group shadow-none list-group-horizontal p-0">
                <a asp-action="Index" asp-controller="Orders" asp-route-status="الكل" class="text-nowrap text-decoration-none">
                    <li class="list-group-item @all">
                        الكل
                    </li>
                </a>
                <a asp-action="Index" asp-controller="Orders" asp-route-status="جديد" class="text-nowrap text-decoration-none">
                    <li class="list-group-item @newOrder">
                        جديد
                    </li>
                </a>
                <a asp-action="Index" asp-controller="Orders" asp-route-status="قيد الانتظار" class="text-nowrap text-decoration-none">
                    <li class="list-group-item @waiting">
                        قيد الانتظار
                    </li>
                </a>
                <a asp-action="Index" asp-controller="Orders" asp-route-status="تم التسليم للمندوب" class="text-nowrap text-decoration-none">
                    <li class="list-group-item @deliveredToRep">
                        تم التسليم للمندوب
                    </li>
                </a>
                <a asp-action="Index" asp-controller="Orders" asp-route-status="تم التسليم" class="text-nowrap text-decoration-none">
                    <li class="list-group-item @delivered">
                        تم التسليم
                    </li>
                </a>
                <a asp-action="Index" asp-controller="Orders" asp-route-status="لا يمكن الوصول" class="text-nowrap text-decoration-none">
                    <li class="list-group-item @cannotDelivered">
                        لا يمكن الوصول
                    </li>
                </a>
                <a asp-action="Index" asp-controller="Orders" asp-route-status="تم التأجيل" class="text-nowrap text-decoration-none">
                    <li class="list-group-item @postponed">
                        تم التأجيل
                    </li>
                </a>
                <a asp-action="Index" asp-controller="Orders" asp-route-status="تم التسليم جزئيا" class="text-nowrap text-decoration-none">
                    <li class="list-group-item @partialyDelivered">
                        تم التسليم جزئيا
                    </li>
                </a>
                <a asp-action="Index" asp-controller="Orders" asp-route-status="تم الالغاء من قبل المستلم" class="text-nowrap text-decoration-none">
                    <li class="list-group-item @cancelled">
                        تم الالغاء من قبل المستلم
                    </li>
                </a>
               
            </ul>
            <div class="row">
                <div class="col-12">
                     <ul class="list-group shadow-none list-group-horizontal p-0 justify-content-center">
                         <a asp-action="Index" asp-controller="Orders" asp-route-status="تم الرفض مع الدفع" class="text-nowrap text-decoration-none">
                    <li class="list-group-item @refusedWithPaid">
                        تم الرفض مع الدفع
                    </li>
                </a>
                <a asp-action="Index" asp-controller="Orders" asp-route-status="رفض مع سداد جزء" class="text-nowrap text-decoration-none">
                    <li class="list-group-item @refusedWithPartialyPaid">
                        رفض مع سداد جزء
                    </li>
                </a>
                <a asp-action="Index" asp-controller="Orders" asp-route-status="رفض و لم يتم الدفع" class="text-nowrap text-decoration-none">
                    <li class="list-group-item @refusedWithNoPaid">
                        رفض و لم يتم الدفع
                    </li>
                </a>
                     </ul>
                </div>
            </div>
        </div>
        
        
    </div>
    <br /> <br />


<table id="tblData" class="table table-bordered ordersTable my-3" width="100%">
    <thead class="bg-dark text-white my-3">
        <tr>
            <th>الرقم التسلسلي</th>
            <th>التاريخ</th>
            <th>بيانات العميل</th>
            @*<th>تليفون العميل</th>*@
            <th>المحافظة</th>
            <th>المدينة</th>
            <th>تكلفة الطلب</th>
            <th>تعديل الطلب</th>
                
            <th>تغيير الحالة</th>
            <th>حذف</th>
                
            
        </tr>
        
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.OrderDate.Value.ToShortDateString()</td>
                <td>@item.CustomerName @item.FirstPhone</td>
                @*<td>@item.FirstPhone</td>*@
                <td>@item.Governorate.GovernorateName</td>
                <td>@item.City.CityName</td>
                <td>@item.OrderCost</td>
                <td>
                    <a asp-action="EditOrder" asp-route-id="@item.Id" class="btn btn-info text-white">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
                <td>
                    <select asp-for="@item.OrderStatusId" asp-items="Model.OrderStatuses" class="form-select bg-primary text-white text-center statusValues" onChange="SaveOrderStatus(this, @item.Id)">
                        <option selected disabled>اختر الحالة</option>
                    </select>
                </td>
                    <td>
                            <button class="btn btn-danger" onClick="Delete(@item.Id)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
            </tr>
        }
    </tbody>
</table>

</div>

@section Scripts{
    <script src="~/js/order.js"></script>
}