@model OrderStatusViewModel
@{
    var status = Context.Request.Query["status"];
    var pending = "";
    var inprocess = "";
    var completed = "";
    var all = "";
    switch (status)
    {
        case "pending":
            pending = "bg-primary text-white";
            break;
        case "inprocess":
            inprocess = "bg-primary text-white";
            break;
        case "completed":
            completed = "bg-primary text-white";
            break;
        default :
            all = "bg-primary text-white";
            break;
    }
}

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        
        
        <div class="col-6">
            <ul class="list-group shadow-none list-group-horizontal-sm justify-content-start">
                <a style="text-decoration:none;" asp-action="Index" asp-controller="Order" asp-route-status="inprocess">
                    <li class="list-group-item @inprocess">
                        InProcess
                    </li>
                </a>
                <a style="text-decoration:none;" asp-action="Index" asp-controller="Order" asp-route-status="pending">
                    <li class="list-group-item @pending">
                        Pending
                    </li>
                </a>
                <a style="text-decoration:none;" asp-action="Index" asp-controller="Order" asp-route-status="completed">
                    <li class="list-group-item @completed">
                        Completed
                    </li>
                </a>
                <a style="text-decoration:none;" asp-action="Index" asp-controller="Order" asp-route-status="all">
                    <li class="list-group-item @all">
                        All
                    </li>
                </a>
            </ul>
        </div>
        @*<div class="col-6 text-end">
            <a asp-controller="Order" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Product
            </a>
        </div>*@
    </div>
    <br /> <br />


<table id="tblData" class="table table-bordered ordersTable my-3" width="100%">
    <thead class="bg-dark text-white my-3">
        <tr>
            <th>الرقم التسلسلي</th>
            <th>التاريخ</th>
            <th>بيانات العميل</th>
            @*<th>تليفون العميل</th>*@
            <th>المحافظة</th>
            <th>المدينة</th>
            <th>تكلفة الطلب</th>
            <th>تعديل الطلب</th>
            <th>تغيير الحالة</th>
            <th>حذف</th>
            
        </tr>
        
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.OrderDate.Value.ToShortDateString()</td>
                <td>@item.CustomerName @item.FirstPhone</td>
                @*<td>@item.FirstPhone</td>*@
                <td>@item.Governorate.GovernorateName</td>
                <td>@item.City.CityName</td>
                <td>@item.OrderCost</td>
                <td>
                    <a asp-action="EditOrder" asp-route-id="@item.Id" class="btn btn-info text-white">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
                <td>
                    <select asp-for="@item.OrderStatusId" asp-items="Model.OrderStatuses" class="form-control bg-primary text-white text-center statusValues" onChange="SaveOrderStatus(this, @item.Id)">
                        <option selected disabled>اختر الحالة</option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-danger" onClick="Delete(@item.Id)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>

@section Scripts{
    <script src="~/js/order.js"></script>
}